@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Open Sans", sans-serif;
}
p{
    font-family: "Open Sans", sans-serif;
}
.tokenfield{
    display: flex;
    flex-wrap: wrap;
    padding: 7px 13px;
    border-radius: 4px;
    border: none;
    box-shadow: inset 0px 0px 1px 0px #00000024;
    border: 1px solid rgba(0,0,0,0.2);
}
.tokenfield .token-input{
    flex: 1;
}
.tokenfield .token{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid #d9d9d9;
    background-color: #ededed;
    white-space: nowrap;
    margin: -1px 5px 5px 0;
    vertical-align: top;
    cursor: default;
    font-size: 1.1em;
}
.tokenfield .close{
    display: inline-block;
    font-size: 1.1em;
    margin-left: 5px;
    float: none;
    vertical-align: -webkit-baseline-middle;
    padding-right: 4px;
    text-decoration: none;
    color: black;
}
.tokenfield .token-label{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 4px;
    vertical-align: -webkit-baseline-middle;
}
.tokenfield .token-input{
    border: none !important;
}
.tokenfield .token-input:focus{
    border: 1px solid rgba(0,0,0,0.2);
}
.container{
    display: flex;
}
nav{
    background: rgb(43, 43, 43);
    color: white;
    min-width: 250px;
    width: 75%;
    max-width: 300px;
    min-height: 100vh;
    height: auto;    
    display: flex;
    flex-direction: column;
}
nav img{
    width: 80%;
    margin: 20px auto;
}
nav ul{
    display: flex;
    list-style: none;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
nav li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 25px 20px;
    font-weight: 500;
    font-size: .9em;
    font-family: "Open Sans", sans-serif;
}
nav li:hover, nav li.active{
    cursor: pointer;
    background: #d30072;
}
.main-content .btn.blk{background-color: #2b2b2b;}
.main-content .btn:hover{
    background: #f75cae;
}
.main-content .btn.blk:hover{
    background: #6d6d6d;
}
.main-content .btn{
    background-color: #d30072;
    color: white;
    padding: 7px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
}
.main-content{
    margin: 70px 0;
    margin-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-content h1{
    text-transform: capitalize;
    margin: 0 50px;
    margin-bottom: 30px;
}
.main-content .desc-cont{
    margin: 0 50px;
}
.main-content .desc-cont h5{
    width: 100%;
    margin-bottom: 10px;
    color: #d30072;
}
.main-content .desc-cont form > *{
    border-radius: 4px;
    font-family: "Open Sans", sans-serif;
}
.main-content .desc-cont .desc{
    padding: 7px 13px;
    border: none;
    resize: none;
    border: 1px solid rgba(0,0,0,0.2);
    width: 50%;
    height: 100px;
    display: block;
    outline-color: #d30072;
}
.main-content .desc-cont .btn{
    align-self: flex-start;
    margin-bottom: 40px;
    margin-top: 20px;
}

.main-content .courses{
    margin: auto;
    width: 95%;
    margin-top: 20px;
    flex: 1;
    overflow: auto;
}
.main-content .courses .data{
    display: flex;
    font-family: "Open Sans", sans-serif;
    width: 100%;
}
.main-content .courses .header{
    background-color: rgb(141, 2, 76);
    color: white;
}
.main-content .courses .data:not(.header){
    font-size: .9em;
}
.main-content .courses .data:not(.header):hover{
    background-color: rgba(141,2,76,0.05);
    box-shadow: 0px 3px 4px -4px black;
}
.main-content .courses .data .action input[type=button]{
    background-color: #d30072;
    border: none;
    color: white;
    padding: 10px 0;
    width: 45%;
    margin-left: 10px;
    max-width: 80px;
    cursor: pointer;
    appearance: none;
    outline: none;
}
.main-content .courses .data .action input[type=button]:last-child{
    background-color: rgb(255, 70, 100);
}
.main-content .courses .data > div, .main-content .courses .data > label{
    display: flex;
    padding: 14px 15px;
    align-items: center;
}
.main-content .courses .data div:nth-child(2){
    flex: 6;
    cursor: pointer;
}
.main-content .courses .data a{
    display: flex;
    align-items: center;
    color: black;
    width: 100%;
    text-decoration: none;
}
.main-content .courses .data span{
    align-self: center;
    padding: 0 40px;
    cursor: pointer;
}
.main-content .course-nav{
    margin: 0 50px;
    display: flex;
    align-items: center;
}
.main-content .course-nav .controls{
    flex: 6;
}
.main-content .course-nav .search{
    display: flex;
}
.main-content .course-nav .search input[type="text"]{
    margin-right: 5px;
    width: 300px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.2);    
    outline-color: #d30072;
    padding: 7px 13px;
}
.main-content form.add-edit{
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-content form.add-edit div.controls{
    width: 85%;
    margin-bottom: 20px;
    display: flex;
}
.main-content form.add-edit input[type="submit"]{
    width: auto !important;
    margin-left: auto;
}
.main-content form.add-edit h5{
    margin-bottom: 10px;
    color: #d30072;
}
.main-content form.add-edit hr{
    margin-bottom: 20px;
    width: 70%;
    border-color: #d30072;
}
.main-content form.add-edit label{
    font-size: .9em;
    margin-top: 10px;
    margin-bottom: 30px;
    display: block;
    width: 65%;
}
.main-content form.add-edit label p{
    margin-bottom: 10px;
}
.main-content .split-content > *{
    width: 40% !important;
    margin-right: 10px;
}
.main-content form.add-edit input:not([type="button"]),
.main-content form.add-edit input:not([type="submit"]),
.main-content form.add-edit textarea,
.main-content form.add-edit select
{
    outline-color: #d30072;
    padding: 7px 13px;
    border-radius: 4px;
    border: none;
    box-shadow: inset 0px 0px 1px 0px #00000024;
    border: 1px solid rgba(0,0,0,0.2);
    width: 100%;
    resize: none;
    font-family: "Open Sans", sans-serif;
}
.main-content .left, .main-content .right{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.main-content .pagination{
    display: flex;
    justify-content: center;
}
.main-content .pagination p{
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 2px;
    color: #d30072;
    border: 2px solid #d30072;
}
.main-content .pagination p:hover, .main-content .pagination p.active{
    background-color: #d30072;
    color: white;
}